<h1>Webview#view</h1>
<script language="Javascript">
page_url = "<%= @page_url %>"
</script>
<div style="width: 100px; float: right; clear: left">
<% @images.each do |img| %>
<a link="<%=img%>" class="image_view">Image</a></br>
<% end %>
</div>
<div style="width: 500px"><%= @text %></div>
